### IntelliJ IDEA ###

.idea
*.iws
*.iml

/resources
/target
/out
/test

WITSRandomGenerator.java
/src/main/java/servers/Test.java
/dependency-reduced-pom.xml
/src/main/resources/dumps/
/src/main/resources/main.txt
/src/test/
/src/main/java/test/
/src/main/java/service/SIBStreamEmulator.java
/src/main/java/service/WITSStreamEmulator.java
/ByteCode GEOServer.xlsx
/src/main/resources/codeExample
/src/main/java/service/copy/
